/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #172b4d;
  --secondaryColor: #344563;
  --thirdColor: #6070ff;
  --buttonColor: #396df2;
  --mainBackground: #e5e5e5;
  --socialMedia: #505f79;
  --borderColor: #dfe1e6;
}

body {
  background-color: var(--mainBackground);
}

/* END */

/* HEADER SECTION */
.header__section {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.navbar__section {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 327px;
  margin: 0 auto;
  width: 100%;
}

body.scroll .navbar__section {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: none;
  background: #fff;
  transition: 0.3s ease;
}

.navbar__logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--thirdColor);
  cursor: pointer;
}

.navbar__menu {
  color: var(--thirdColor);
  font-size: 16px;
}

.navbar__links__container {
  display: none;
}

/* END */

/* MAIN SECTION */
.main__section {
  background-color: #fff;
  background-image: url(.././assets/headermobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0 0 0 15%;
}

.main__container {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 327px;
  margin: 0 auto;
  gap: 12px;
}

.main__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--primaryColor);
}

.main__paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondaryColor);
}

.main__callToAction {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--thirdColor);
}

.main__socialMedia {
  display: flex;
}

.main__socialMedia__container {
  list-style: none;
}

.main__socialMedia__links {
  font-size: 20px;
  color: var(--socialMedia);
  margin-right: 19px;
}

/* END */

/* WORKS SECTION */
.work__section {
  padding-top: 114px;
  display: grid;
  row-gap: 88px;
}

.work__description {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
}

.work__image__container {
  max-width: 310px;
}

.work__image {
  width: 100%;
}

.work__features__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primaryColor);
}

.work__features {
  display: flex;
  gap: 12px;
}

.work__features :nth-child(1) {
  list-style: none;
  color: var(--secondaryColor);
  font-weight: 600;
}

.work__features__item {
  font-size: 13px;
  list-style: inside;
  color: #7a869a;
  font-weight: 600;
}

.work__paragraph {
  color: var(--secondaryColor);
  font-size: 15px;
  font-weight: 400;
}

.work__list__container {
  display: flex;
  gap: 8px;
  list-style: none;
}

.work__language__item {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: var(--thirdColor);
  font-size: 12px;
  font-weight: 500;
}

.work__button {
  cursor: pointer;
  background: #fff;
  border: 1px solid var(--buttonColor);
  border-radius: 16px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 46%;
  color: var(--thirdColor);
  font-size: 17px;
  font-weight: 500;
  transition: 0.5s ease;
}

.work__button:hover {
  background-color: var(--thirdColor);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.work__button.press {
  background: #2230d2;
  color: #fff;
}

/* END */

/* ABOUT SECTION */
.about__section {
  margin-top: 114px;
}

.about__container {
  background-color: #fff;
  padding: 114px 0;
  border-radius: 0 15% 0 0;
}

.about__information {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 327px;
  gap: 12px;
}

.about__title {
  color: var(--primaryColor);
  font-size: 40px;
  font-weight: 700;
}

.about__paragraph {
  color: var(--secondaryColor);
  font-size: 16px;
  font-weight: 400;
}

.about__callToAction {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.about__socialMedia {
  display: flex;
  gap: 21px;
  list-style: none;
  margin-top: 14px;
}

.about__socialMedia__links {
  font-size: 20px;
}

.about__button {
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid var(--thirdColor);
  border-radius: 8px;
  color: var(--buttonColor);
  padding: 12px;
  background: #fff;
  font-size: 17px;
  font-weight: 500;
  width: 49%;
}

.about__button:hover {
  background-color: var(--thirdColor);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.about__button.press {
  background: #2230d2;
  color: #fff;
}

.about__abilities {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin: 0 auto;
  gap: 12px;
}

.about__abilities__container {
  list-style: none;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__abilities__container.active {
  border-bottom: 1px solid #dfe1e6;
}

.about__abilities__title {
  font-size: 20px;
  font-weight: 500;
}

.about__list__container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about__list__item {
  background-color: #f7f7f9;
  padding: 12px;
  border-radius: 8px;
}

.about__language {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about__image {
  width: 48px;
  height: 48px;
}

.about__list__title {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

/* END */

/* CONTACT SECTION */
.contact__section {
  background-image: url(.././assets/contact-me.png);
  background-size: cover;
  background-color: #fff;
  padding-top: 21px;
}

.contact__container {
  background-image: url(.././assets/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  padding-top: 89px;
  padding-bottom: 45px;
}

.contact__text {
  max-width: 327px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.contact__title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

/* ESTA PARTE LA COMMITEA EDU */
/* .contact__paragraph {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 52px;
}

.contact__form {
  max-width: 327px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__form__inpt {
  padding: 15px 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
}

.contact__form__textarea {
  resize: none;
  font-size: 15px;
} */

/**/

.contact__form__submit {
  cursor: pointer;
  background: #fff;
  border: 1px solid var(--buttonColor);
  border-radius: 16px;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 12px;
  width: 46%;
  color: var(--thirdColor);
  font-size: 17px;
  font-weight: 500;
  transition: 0.5s ease;
}

.contact__form__submit:hover {
  background-color: var(--primaryColor);
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.contact__form__submit.press {
  background: var(--secondaryColor);
  color: #fff;
}

/* END */

/* MEDIA QUERYS */
@media screen and (min-width: 768px) {
  /* HEADER SECTION */
  .navbar__section {
    height: 72px;
    max-width: 700px;
  }

  .navbar__section .navbar__menu {
    display: none;
  }

  .navbar__links__container {
    display: flex;
    gap: 32px;
  }

  .navbar__links__container .navbar__list {
    list-style: none;
  }

  .navbar__links {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: 500;
    transition: 0.4s;
    position: relative;
  }

  .navbar__links:hover {
    color: var(--thirdColor);
  }

  .navbar__links::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    background-color: var(--thirdColor);
    transition: 0.4s;
  }

  .navbar__links:hover::before {
    width: 50%;
  }

  /* END */

  /* MAIN SECTION */
  .main__section {
    background-image: url(.././assets/headerdesktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .main__container {
    height: calc(100vh - 72px);
    max-width: 680px;
  }

  .fa-brands:hover {
    color: var(--primaryColor);
    transform: scale(1.2);
  }

  /* END */
}

@media screen and (min-width: 1024px) {
  /* HEADER SECTION */
  .navbar__section {
    max-width: 892px;
  }

  /* END */

  /* MAIN SECTION */
  .main__container {
    max-width: 892px;
  }

  .main__title {
    font-size: 48px;
  }

  .main__paragraph {
    font-size: 20px;
  }

  .main__callToAction {
    font-size: 16px;
  }

  .main__socialMedia__links {
    font-size: 20px;
  }

  /* END */
}

@media screen and (min-width: 1440px) {
  /* HEADER SECTION */
  .navbar__section {
    max-width: 1000px;
  }

  /* END */

  /* MAIN SECTION */
  .main__container {
    max-width: 1000px;
  }

  .main__title {
    font-size: 52px;
  }

  .main__paragraph {
    font-size: 22px;
  }

  .main__callToAction {
    font-size: 18px;
  }

  .main__socialMedia__links {
    font-size: 22px;
  }

  /* END */
}

/* END */
