/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primaryColor: #172b4d;
  --secondaryColor: #344563;
  --thirdColor: #6070ff;
  --buttonColor: #396df2;
  --mainBackground: #e5e5e5;
  --socialMedia: #505f79;
}

body {
  background-color: var(--mainBackground);
}

/* END */

/* HEADER SECTION */
.header__section {
  background-color: #fff;
}

.navbar__section {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 327px;
  margin: 0 auto;
}

.navbar__logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--thirdColor);
  cursor: pointer;
}

.navbar__menu {
  color: var(--thirdColor);
  font-size: 16px;
}

.navbar__links__container {
  display: none;
}

/* END */

/* MAIN SECTION */
.main__section {
  background-color: #fff;
  background-image: url(/assets/headermobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0 0 0 15%;
}

.main__container {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 327px;
  margin: 0 auto;
}

.main__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--primaryColor);
  margin-bottom: 12px;
}

.main__paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondaryColor);
  margin-bottom: 12px;
}

.main__spam {
  margin-bottom: 12px;
}

.main__callToAction {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--thirdColor);
}

.main__socialMedia__links {
  text-decoration: none;
  font-size: 20px;
  color: var(--socialMedia);
  margin-right: 19px;
}

/* END */

/* MEDIA QUERYS */
@media screen and (min-width: 768px) {
  /* HEADER SECTION */
  .navbar__section {
    height: 72px;
    max-width: 700px;
  }

  .navbar__section .navbar__menu {
    display: none;
  }

  .navbar__links__container {
    display: flex;
    gap: 32px;
  }

  .navbar__links {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-weight: 500;
    transition: 0.4s;
    position: relative;
  }

  .navbar__links:hover {
    color: var(--thirdColor);
  }

  .navbar__links::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    background-color: var(--thirdColor);
    transition: 0.4s;
  }

  .navbar__links:hover::before {
    width: 50%;
  }

  /* END */

  /* MAIN SECTION */
  .main__section {
    background-image: url(/assets/headerdesktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .main__container {
    height: calc(100vh - 72px);
    max-width: 680px;
  }

  .main__callToAction:hover {
    color: var(--secondaryColor);
  }

  .fa-brands:hover {
    color: var(--primaryColor);
    transform: scale(1.2);
  }

  /* END */
}

@media screen and (min-width: 1024px) {
  /* HEADER SECTION */
  .navbar__section {
    max-width: 892px;
  }

  /* END */

  /* MAIN SECTION */
  .main__container {
    max-width: 892px;
  }

  .main__title {
    font-size: 48px;
  }

  .main__paragraph {
    font-size: 20px;
  }

  .main__callToAction {
    font-size: 16px;
  }

  .main__socialMedia__links {
    font-size: 20px;
  }

  /* END */
}

@media screen and (min-width: 1440px) {
  /* HEADER SECTION */
  .navbar__section {
    max-width: 1000px;
  }

  /* END */

  /* MAIN SECTION */
  .main__container {
    max-width: 1000px;
  }

  .main__title {
    font-size: 52px;
  }

  .main__paragraph {
    font-size: 22px;
  }

  .main__callToAction {
    font-size: 18px;
  }

  .main__socialMedia__links {
    font-size: 22px;
  }

  /* END */
}

/* END */
